# History files
.Rhistory
.Rapp.history

# RStudio files
.Rproj.user/

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# outputs (reproducible)
figures/
output/

# Temporary files
*.tmp
*.log